body {
    background: #EEE;
    font-family: 'Droid Serif', serif;
    text-align: center;
}

h1, h2 {
    font-weight: normal;
}

p {
    text-align: left;
    width: 900px;
    margin: auto;
    padding-bottom: 10px;
}

body > textarea {
    width: 750px;
}


.example {

    textarea:hover + .edit-me {
        opacity: 1;
    }

    .edit-me {
        background-color: #EEE;
        vertical-align: top;
        width: 100px;
        height: 20px;
        display: inline-block;
        position: relative;
        left: -110px;
        top: 10px;
        opacity: 0;
        -webkit-transition: opacity 300ms;
        border-bottom-left-radius: 5px;
        padding-top: 5px;
        margin-right: -100px;
        
    }

}

.scroll-nav {
    position: fixed;
    text-align: left;
    .scroll-nav-list {
        list-style: none;
        .scroll-nav-item {
            &.active {
                font-weight: bold;
            }
        }
    }
}

pre.error {
    background-color: red;
    color: white;
}

textarea, pre {
    resize: none;
    text-align: left;
    background: white;
    width: 400px;
    margin: 10px;
    padding: 5px;
    overflow:auto;
    border: none;
    height: 300px;
    outline: none;
    display: inline-block;
    vertical-align:middle;
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 1em;
}

pre { width: 550px; }

#github {
    position: fixed;
    color: white;
    top: 10px;
    right: 10px;
    width: 75px;
    height:75px;
    border-radius: 3px;
    background-image: url("/github-150.png");
    background-size: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #444;
    font-size: 0.75em;
    text-align: center;
    overflow:hidden;
    text-indent: -500px;
    -webkit-transition: background-color 300ms;
    &:hover {
        background-color: #FFF;
    }
}

#contents {
    float: left;
    background: white;
    display:block;
}